*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Marcellus&family=Patua+One&display=swap');

.cajaPrincipal{
  background-image: url(fondor.jpg) ;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  object-fit:contain;
  transition: 0.5s;
  text-align: center;

  background-image: linear-gradient(120deg)
}

.cajaPrincipal h1{
  text-align: center;
  font-size: 30px;
  color: rgb(172, 172, 172);
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.cajaPrincipal > div{
  margin: 1em;
  display: inline-block;
  width: 22vw;
  height: 80vh;
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.315) solid 1px;
  transition: 0.5s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: radial-gradient(rgb(2, 2, 63), rgb(49, 1, 105), rgb(123, 38, 235));

}

.card_body:hover{
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.493);
}

.card_body:hover h2{
  text-transform: uppercase;
  text-shadow: 2px 2px 6px orangered ;
  transition: 0.7s;
  color: rgb(255, 255, 255);
}

.card_body h2{
  margin-bottom: 37px ;
  color: black;
}

.card_body p{
  font-size: 1.2rem;
  color: black;
}
.card_body:hover p{
  font-style:oblique ;
  font-weight:lighter;
  font-size: 1.2rem;
  transition: 0.1s;
  color: rgb(255, 255, 255);
}
.card_body:hover span{
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.card_footer:hover{
    transition: 0.5s;
    cursor: pointer;
}

.card_imagen:hover img{
  transform: scale3d(1.3, 1.3, 1.3);
  transition: 0.5s;
}

img {
  padding: 1em;
  height: 40vh;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 21px;
  object-fit: contain;
  
}

.resaltar {
  color: black; 
  font-weight: bold;
  font-size: 1em;
}





